<p class="lead">Tweet by <%= "@" + @tweet.user.name %></p>

<div class="well well-sm tweet">
    <div class="row">
        <div class="col-sm-9">
            <%= @tweet.body %>
        </div>
        <div class="col-sm-3 text-right">
            <p class="tweet__author">
                <%= "@" + @tweet.user.name %>
            </p>
            <p class="tweet__timestamp">
                <%= link_to localize(@tweet.created_at, :format => :long), @tweet %>
            </p>
        </div>
    </div>
</div>
