<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="stats">
      <%= render 'shared/user_stats' %>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>Tweets (<%= @user.tweets.count %>)</h3>
      <% if @user.tweets.any? %>
        <% @user.tweets.each do |tweet| %>
            <%= render tweet %>
        <% end %>
      <% else %>
          <h2>This user haven't tweeted yet.</h2>
      <% end %>
  </div>
</div>
